.buTTon {
  background: #f78962;
  color: antiquewhite;
}
.buT {
  background: #967b73;
  color: antiquewhite;
}
@media (max-width: 900px) {
  .Geo {
    display: none;
  }
  .buTTon {
    margin-top: 10px;
  }
}
.Search {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 600px;
  margin: 30px auto 5px auto;
  padding: 25px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  background: #ebe3e3;
}
