.buTTon {
  background: #f78962;
  color: antiquewhite;
}
.buT {
  background: #967b73;
  color: antiquewhite;
}
@media (max-width: 900px) {
  .Geo {
    display: none;
  }
  .buTTon {
    margin-top: 10px;
  }
}
